// Override some browser CSS defaults with better defaults.
body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.layout {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .content {
    flex: 1 0 auto;
    width: 100%;
  }

  .footer {
    flex: 0 0 auto;
  }
}
