@import "cz-ui/mixins/typography.scss";

.customComponent {
  @include font-accent-l;
}

.title {
  @include font-header-xl;
  color: var(--accent-dark);
}

.body {
  @include font-body-l;
  color: var(--accent-dark);
}

.content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // We need this inner div because we don't want the left/right padding of .content
  // to have a white background color.
  .inner {
    background-color: #fff;
    // Ensure that the content is always at least the height of the browser window.
    min-height: 100vh;
  }
}

.container {
  width: 1200;
  direction: row;
  display: flex;
  align-items: start;
  // padding: 20px;
  object-fit: contain;
  grid-gap: 0px;

  .biohub {
    width: 95%;
    padding-top: 15px;
  }
  .ucsf {
    width: 70%;
    margin: 0px 0px 20px 40px;
  }
  .berkeley {
    width: 90%;
    margin: 0px 30px 20px 0px;
    padding-top: 10px;
  }
  .stanford {
    width: 85%;
    margin: 0px 30px 20px 20px;
    padding-top: 25px;
  }
  .dnw {
    width: 85%;
    margin: 0px 30px 20px 20px;
    padding-top: 25px;
  }
}
