tower {
  endpoint = 'http://nftower.czbiohub.org:8000/api'
  enabled = true
}

process {
    executor = 'local'
    region = 'us-west-2'
    errorStrategy = { task.exitStatus in [143,137,104,134,139,160] ? 'retry' : 'finish' }

}

docker {
            enabled = true
            temp = 'auto'
}

workDir = '/mnt/ibm_lg/elianna/nexflow-work'