@import "cz-ui/mixins/typography.scss";

.customComponent {
  @include font-accent-l;
}

.title {
  @include font-header-xl;
  color: var(--accent-dark);
}

.body {
  @include font-body-l;
  color: var(--accent-dark);
}

.center {
  padding-left: 450px;
}

.content {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  // We need this inner div because we don't want the left/right padding of .content
  // to have a white background color.
  .inner {
    background-color: #fff;
    // Ensure that the content is always at least the height of the browser window.
    min-height: 100vh;
  }
}
