@import "cz-ui/mixins/typography.scss";

.title {
  @include font-header-xl;
  color: var(--accent-dark);
}

.table {
  width: 1500px;
  padding-left: 25px;
  padding-bottom: 0px;
  // margin-top: 34px;

  .description {
    color: var(--gray-medium);
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 8px;
  }

  .bold {
    color: var(--black);
    font-weight: 600;
  }

  .controls {
    margin-top: 30px;
    display: flex;
  }

  .select {
    width: 300px;
    margin-left: 8px;
  }

  .search {
    width: 240px;
  }

  .protocolLink {
    color: var(--black);
    text-decoration: none;

    &:hover {
      color: var(--primary);
    }
  }
}
